body{
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579__340.png);
}

.page-jumbotron{
  text-align: center;
  color: antiquewhite;
  background-color: #4d4f75;
  opacity: 0.75;
}

.about-content{
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    color: yellow;
    margin: 0;
}
